<div class="iq-card-body">
    <div class="table-responsive">
        <table class="table mb-0 mt-2 table-borderless table-test tbl-server-info">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="text-left">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Cash Level</th>
                    <th scope="col">Cash Jam</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Devices)
                {
                    <RowItem Device="@device" />
                }

            </tbody>
        </table>
        <div class="d-block text-center text-primary font-weight-300">Page @CurrentPage of @TotalPage<i class="ri-arrow-down-s-line"></i></div>
    </div>

</div>

@code {
    [Parameter]
    public List<DeviceModel> Devices { get; set; }

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPage { get; set; }
}
