@page "/"


<h1>Device Monitoring Dashboard and Analytics</h1>

real time status and cash level check
@*<DataModal />*@
@*<div class="col-lg-12">
        <div class="iq-card">
            <div class="iq-card-body">
                <div class="row content-body">
                    <DeviceList />
                </div>
            </div>
        </div>
    </div>*@

Abstraction
    <div class="row content-body">
            <Test />
    </div>

@*Data streaming with IAsyncEnumerable
    <div class="row content-body">
            <DeviceListAsync />
    </div>*@


@*Pagination test
<div class="col-lg-12">
        <div class="iq-card">
            <div class="iq-card-body">
                <div class="row content-body">
                    <DeviceListPaginated />
                </div>
            </div>
        </div>
    </div>*@



